<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
    <!-- Modified to fit Cryogen.-->
    <meta charset="UTF-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/gadfly-blog/img/ico/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/gadfly-blog/img/ico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/gadfly-blog/img/ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/gadfly-blog/img/ico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/gadfly-blog/img/ico/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/gadfly-blog/img/ico/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/gadfly-blog/img/ico/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/gadfly-blog/img/ico/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/gadfly-blog/img/ico/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/gadfly-blog/img/ico/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/gadfly-blog/img/ico/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/gadfly-blog/img/ico/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/gadfly-blog/img/ico/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Gadfly's Blog"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/gadfly-blog/img/ico/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/gadfly-blog/img/ico/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/gadfly-blog/img/ico/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/gadfly-blog/img/ico/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/gadfly-blog/img/ico/mstile-310x310.png" />
    
    <!--[if IE]><![endif]-->
    {% style "css/buttons.css"
    {% style "css/menu.css" %}
    {% style "css/reset.css" %}
    {% style "css/style.css" %}
    {% style "css/typography.css" %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/tomorrow-night-eighties.min.css">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div id="left">

    <p id="logo">
        <a title="{{title}}" href="{{index-uri}}">
          <!-- <span class="fa fa-rocket"></span> -->
	  <img src="/gadfly-blog/img/gadfly.png" height="100px"/>
            <span class="text">Gadfly's Blog</span>
        </a>
    </p>

    <div id="menucont" class="bodycontainer clearfix">
        <div class="menutitle">
            <p><span class="fa fa-reorder"></span><strong>Menu</strong></p>
        </div>
        <ul class="menu">
            <li {% if home %} class="active" {% endif %}><a title="Home" href="{{index-uri}}">Home</a></li>
            <li {% if archives %} class="active" {% endif %}><a title="Archives" href="{{archives-uri}}">Archives</a></li>
            {% if tags|not-empty %}
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}">Tags</a></li>
            {% endif %}
            {% for nav-page in navbar-pages %}
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
            </li>
            {% endfor %}
            <li><a title="RSS" href="{{rss-uri}}">RSS</a></li>
        </ul>
    </div>

    <div id="socialmedia" class="clearfix">
        <ul>
            <li><a title="GitHub" href="https://github.com/gadfly361" rel="external"><span class="fa fa-github"></span></a></li>
            <li><a title="Stack Overflow" href="https://twitter.com/gadfly361" rel="external"><span class="fa fa-twitter"></span></a></li>
        </ul>
    </div>

</div>

<div id="right" class="clearfix">
    {% block content %}
    {% endblock %}
<hr/>
<div id="footercont" class="clearfix">Copyright &copy; {{today|date:yyyy}} {{author}}
    <p>Powered by <a href="http://cryogenweb.org">Cryogen</a> | Free Website Template by <a title="free website templates" href="http://www.downloadwebsitetemplates.co.uk" rel="external">Download Website Templates</a></p>

</div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>
{% script "js/scripts.js" %}
{% if post.klipse %} {{post.klipse|safe}} {% endif %}
{% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
