{% extends "/html/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block content %}
<div id="post">
    {% include "/html/post-content.html" %}
    <div id="prev-next">
        {% if post.prev %}
        <a class="button" href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right button" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>

    <!-- {% if disqus-shortname %} -->
    <!-- <div id="disqus_thread"></div> -->
    <!-- <script type="text/javascript"> -->
    <!--   var disqus_config = function () { -->
    <!--   this.page.url = "https://gadfly361.github.io{{uri}}"; -->
    <!--   this.page.identifier = "{{uri}}"; -->
    <!--   }; -->

    <!--   (function() { -->
    <!--   var d = document, s = d.createElement('script'); -->
    <!--   s.src = 'https://{{disqus-shortname}}.disqus.com/embed.js'; -->
    <!--   s.setAttribute('data-timestamp', +new Date()); -->
    <!--   (d.head || d.body).appendChild(s); -->
    <!--   })(); -->
    <!-- </script> -->
    <!-- {% endif %} -->

    <hr>
    <h2>Comments</h2>
    <div id="gh-comments-list"></div>

</div>
{% endblock %}
